@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.HomePage {
}
/* .HomePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; */

body {
  font-family: "Josefin Sans", sans-serif;
}

.HomePage {
  margin: 0;
  font-family: sans-serif;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
  padding: 10px;
  border-radius: 5px;
}

.HomePage h1 {
  font-size: 7em;
  padding: 0px;
  margin-top: 175px;
  margin-bottom: 0px;
}

.HomePage p {
  font-size: 2em;
  margin-bottom: 25px;
}

.HomePage button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  border-radius: 8px;
  margin-bottom: 230px;
}

.HomePage button:hover {
  background-color: rgb(0, 0, 0);
  transition: 0.2s;
  color: #4caf50;
  transform: scale(1.1);
}

@keyframes addTextAnimation {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.HomePage h1::after {
  content: "|";
  animation: blinkCursor 0.8s infinite alternate;
}

.HomePage h1 {
  overflow: hidden;
  white-space: nowrap;
  animation: addTextAnimation 3s steps(40, end) forwards;
}

@keyframes blinkCursor {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/******************/

/* .HomePage button {
  padding: 10px;
  border: 1px solid;
  border-radius: 10px;
} */

.Dashboard {
  display: flex;
  flex-direction: column;
}

.TopNavBar {
  display: flex;
  flex-direction: row;
  padding: 10px;
  border: 1px solid;
  align-items: center;
  margin: 5px;
}

.TopNavBar img {
  height: 40px;
  width: 40px;
  padding: 5px;
}

.Slider {
  border: 1px solid;
  border-radius: 10px;
  padding: 10px;
  width: 20vw;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Slider-Tags {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Content {
  display: flex;
  flex-direction: column;
  padding: 10px 5vw;
}

.Content-Title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}

.Content-Title h1 {
  font-size: 36px;
  font-weight: 800;
}

.Content-Title h4 {
  border: 1px solid;
  padding: 2px;
  border-radius: 5px;
}

/****************************/
.QuickInfoTile {
  border: 1px solid;
  border-radius: 10px;
  padding: 10px;
  width: 20vw;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.QuickInfoTile h2 {
  font-size: 24px;
  font-weight: 700;
}

.Quick-Info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/************************************************/

.Main-Content {
  padding: 20px;
}

.Show-Content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0;
  height: 50vh;
}

.User-Preferences {
  display: flex;
  flex-direction: row;
  width: 45vw;
  justify-content: space-between;
  border: 1px solid;
  border-radius: 5px;
}

/*********************************************/

.Recommendations {
  display: flex;
  flex-direction: column;
  width: 40vw;
  border: 1px solid;
  border-radius: 5px;
  padding: 10px;
}

.Recommendations {
  overflow-x: hidden;
  overflow-y: auto;
}

.Recommendations h5 {
  font-size: 18px;
}

/*********************************************/
.Career-Goals {
  text-align: center;
  border-right: 1px solid;
  width: 22.5vw;
  overflow-x: hidden;
  overflow-y: auto;
}

.Personal-Interests {
  width: 22.5vw;
  text-align: center;
}

.Preference-Tile {
  padding: 5px;
  margin: 1px;
  border: 1px solid;
  border-radius: 5px;
}

.Graph {
  text-align: center;
}

.Goal-Selector {
  display: grid;
}

/********************************************/
.toggle-slider {
  position: relative;
  width: 28px;
  height: 16px;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  cursor: pointer;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 1px;
  bottom: 2px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

input[type="checkbox"] {
  display: none;
}

/* input[type="checkbox"]:checked + .slider {
} */

input[type="checkbox"]:checked + .slider:before {
  transform: translateX(12px);
}

/*******************************************/

.Recommendation-Tile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 0;
  border-bottom: 1px solid;
}

.clicked {
  transition: 0.5s;
  background-color: beige;
}
/*********************************************/

.OnBoardingPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.OnBoardingPage form {
  display: flex;
  flex-direction: column;
  height: 50vh;
}
